@base: #c7d3ea;

.ui.menu{
  background-image: linear-gradient(white, @base);
  .item{
    font-weight: bolder;
  }
}

.ui.segment{
  position: unset;
  &.disabled{
    position: relative;
  }
}

.body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-image: linear-gradient(@base, darkblue);
    @media screen and (max-device-width : 320px)
    {
        font-size:6px;
    }
    @media screen and (max-device-width : 1204px)
    {
      font-size:12px;
    }
}       

.ui.accordion .title {
    &:hover {
      color: blue;
    }
  }
